.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.main__head {
  color: white;
}

.navbar {
  padding-top: 24px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.todo__item {
  background-color: #a8a6d0;
  border-radius: 10px;

  width: 30vw;
  padding: 12px;

  margin: 24px;

  box-shadow: 5px 5px 10px rgb(97, 97, 97);
}

.newTask {
  display: flex;
  align-items: center;
}

.newTask__form {
  padding: 8px;

  width: 100%;

  background: rgb(225, 221, 255);
  box-shadow: 0px 2px 8px rgb(54, 54, 54);
  border: 2px solid #10071c;
  border-radius: 5px;
  font-size: 16px;
  color: #10071c;
}

.newTask__btn {
  background-color: #db99c3;
  box-shadow: 0px 2px 8px rgb(54, 54, 54);
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;

  font-weight: bold;

  font-family: "Varela Round", sans-serif;
  text-transform: uppercase;

  cursor: pointer;
}

.newTask__btn:hover {
  background-color: #cf88b5;
}

.task__main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
}

.task__body {
  padding-left: 24px;
  font-weight: bold;

  font-size: 20px;
}

.task__dls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding: 15px 5px 5px 5px;
  border-radius: 5px;
  background-color: #9a98c2;
}

.todo__task {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.todo__checkbox {
  cursor: pointer;
}

.task__description {
  font-style: italic;
}
